{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Galerie' %}
{% set description = 'V galerii stránky dozvuků léta naleznete fotografie z předešlých ročníků festivalu. V České Třebové pod Peklákem na Vás i letos čeká mnoho interpretů na které se můžete těšit. Budou zde působit jména jako například Paulie Garand, Marpo, Michal Hrůza a mnoho dalších.' %}

{% set crossroads = [
    {
        img: "crossroad-gallery/galerie2023.webp",
        alt: "fotografie z festivalu, ročníku 2023",
        title: "Ročník 2023",
        link: "https://martinsevera.pixellu.gallery/dozvuky-leta-2023/all?fbclid=IwAR38oFujGqszfXJwYQR1hkerF_j859L4KXXM4uRAQ-4tjzKsJTxdJEc9fUo",
        blank: true
    },
    {
        img: "crossroad-gallery/galerie5.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "Ročník 2022",
        link: "https://martinsevera.pic-time.com/-newgallery2/gallery",
        blank: true,
    },
    {
        img: "crossroad-gallery/galerie1.webp",
        alt: "fotografie z festivalu, ročníku 2021",
        title: "Ročník 2021",
        link: "https://provasodnas.rajce.idnes.cz/Dozvuky_leta_2021/",
        blank: true
    },
]%}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            {% include "@components/box/breadcrumbs/breadcrumbs.twig" with { props: {
                items: [
                    {
                        link: "galerie",
                    }
                ]
            }} %}
        </div>
    </section>
    <section class="section section--top section--bottom">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Galerie",
                tag: "h2",
            }} %}
            <div class="grid grid--center">
            	{% for item in crossroads %}
                <div class="grid__col col-4-12@sm">
                    {% include "@components/box/crossroad/crossroad.twig" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
