{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta' %}
{% set description = 'Domovská stránka festivalu dozvuky léta, konající se v České Třebové' %}


{% block content %}

	<main role="main" id="main" class="main">
		{% include "@components/box/hero/hero.twig" with { props: {
            timeInterval: "8000",
            annot: "01.9/02.09 v České Třebové, u Stadionu 1666",
            images: [
                {
                    img: "hero/hero1.jpg",
                    alt: "úvodní fotka dozvuků léta",
                },
                {
                    img: "hero/hero2.webp",
                    alt: "Hudebník Voxedl",
                },
                {
                    img: "hero/hero3.webp",
                    alt: "Tančící dav",
                },
                {
                    img: "hero/hero4.webp",
                    alt: "Kapela Waldagang",
                },
            ]
        }}%}
        <section class="section section-parallax">
            <div class="line-container js-parallax-container">
                <svg
                    class="line"
                    viewBox="0 0 206 2010"
                    fill="none"
                    preserveAspectRatio="xMidYMax meet"
                >
                    <path
                    d="M156.396 -7V704H141.687C133.946 704.774 118.464 710.503 118.464 727.224V737.287C110.723 735.997 99.8848 738.061 118.464 756.64V763.608C111.497 763.091 101.743 766.24 118.464 782.961V791.476C119.496 795.605 123.109 803.552 129.302 802.314V1043.84C117.432 1054.94 100.814 1084.25 129.302 1112.74C138.075 1120.48 161.815 1131.32 186.587 1112.74C198.973 1102.16 216.313 1073.57 186.587 1043.84V924.625H123.883C87.4988 926.431 19.0664 946.455 36.4067 1012.1C48.5347 1030.94 65.5138 1075.27 36.4067 1101.9C7.29968 1128.53 2.08725 1174.92 3.11941 1194.79C7.76414 1227.05 33.6198 1291.56 99.8848 1291.56H153.299V3111.52"
                    stroke="#ffffff"
                    stroke-width="5"
                    />
                </svg>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Kapely",
                    tag: "h2",
                }} %}
                {% set bands = [
                    {
                        title: "375 m.n.m",
                        img: "carousel-band/band2.webp",
                        link: "/kapely/375nm.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Artctic Monkeys",
                        img: "carousel-band/band1.webp",
                        link: "/arctic-monkeys.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Artctic Monkeys",
                        img: "carousel-band/band1.webp",
                        link: "/arctic-monkeys.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Artctic Monkeys",
                        img: "carousel-band/band1.webp",
                        link: "/arctic-monkeys.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Artctic Monkeys",
                        img: "carousel-band/band1.webp",
                        link: "/arctic-monkeys.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Artctic Monkeys",
                        img: "carousel-band/band1.webp",
                        link: "/arctic-monkeys.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                ]%}
                {% include "@components/box/carousel-band/carousel-band.twig" with { props: {
                    loop: true,
                    content: bands,
                }} %}
            </div>
        </section>
        <section class="section section--top" id="listky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Neváhejte koupit lístek!",
                    tag: "h2",
                }} %}
                <div class="tickets">
                    <div class="tickets__title">
                        <h4 class="u-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium qui laborum aliquam tempora accusamus labore pariatur nesciunt atque quam praesentium assumenda</h4>
                    </div>
                    <div class="tickets__button">
                        <a target="_blank" href="https://www.ticketportal.cz/" class="btn-glitch" role="button"><span class="btn-glitch__text">Koupit lístek</span></a>
                    </div>
                    <div class="grid">
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">1. Klikni na odkaz {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "ticket" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Klikni na odkaz výše a dostaň se na stránku ticketportal, kde můžeš koupit lístek na festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">2. Platba {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "pay" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Vyber si platbu a následně proveď úhradu. Část tvé vstupenky půjde na dobrou věc!</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">3. Doraž {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "party" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Už zbývá jenom dorazit. Budeme se těšit. Vše vypukne 1.9. Více informací <a href="#">zde.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom" id="novinky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Novinky",
                    tag: "h2",
                }} %}
                {% set news = [
                    {
                        title: "Zahájení festivalu",
                        img: "carousel-news/news1.webp",
                        link: "/Novinky/zahajeni.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Noví sponzoři",
                        img: "carousel-news/news2.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Spolupráce s redbullem",
                        img: "carousel-news/news3.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "375 m.n.m",
                        img: "carousel-news/news1.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                ]%}
                {% include "@components/box/carousel-news/carousel-news.twig" with { props: {
                    loop: true,
                    content: news,
                }} %}
            </div>
        </section>
        <section class="section section--bg section--bottom">
            <div class="container">
                <div class="text-block u-text-center">
                    <h2>Festival plný zážitků...</h2>
                    <h4>Mrkni na minulé ročníky!</h4>
                    <a target="_blank" href="/galerie.html" class="btn-glitch" role="button"><span class="btn-glitch__text">Galerie</span></a>
                </div>
            </div>
        </section>
        <section class="section section--top" id="informace">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Informace",
                    tag: "h2",
                }} %}
                <div class="information">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="information__location u-text-center">
                                <h4>Místo konání Festivalu:</h4>
                                <ul class="information__address">
                                    <li>Fotbalový stadion Česká Třebová</li>
                                    <li>Pod Jelenicí 597</li>
                                    <li>Česká Třebová</li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid__col">
                            <iframe style="border:none" src="https://frame.mapy.cz/s/camabezoho" width="100%" height="500" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                {% set faqs =[
                    {
                        title: "Doprava a parkování",
                        content: "1Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Bezbariérovost",
                        content: "2Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Jídlo a pití",
                        content: "3Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                ]%}
                {% for item in faqs %}
                {% include "@components/box/faq/faq.twig" %}
                {% endfor %}
            </div>
        </section>
	</main> 

{% endblock %}
