{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta' %}
{% set description = 'Domovská stránka festivalu dozvuky léta, konající se v České Třebové' %}


{% block content %}

	<main role="main" id="main" class="main">
		{% include "@components/box/hero/hero.twig" with { props: {
            timeInterval: "8000",
            annot: "pátek 1. a sobota 2. září na fotbalovém stadionu Pod Jelenicí v České Třebové",
            images: [
                {
                    img: "hero/hero1.jpg",
                    alt: "úvodní fotka dozvuků léta",
                },
                {
                    img: "hero/hero2.webp",
                    alt: "Hudebník Voxedl",
                },
                {
                    img: "hero/hero3.webp",
                    alt: "Tančící dav",
                },
                {
                    img: "hero/hero4.webp",
                    alt: "Kapela Waldagang",
                },
            ]
        }}%}
        <section class="section section-parallax">
            <div class="line-container js-parallax-container">
                <svg
                    class="line"
                    viewBox="0 0 206 2010"
                    fill="none"
                    preserveAspectRatio="xMidYMax meet"
                >
                    <path
                    d="M156.396 -7V704H141.687C133.946 704.774 118.464 710.503 118.464 727.224V737.287C110.723 735.997 99.8848 738.061 118.464 756.64V763.608C111.497 763.091 101.743 766.24 118.464 782.961V791.476C119.496 795.605 123.109 803.552 129.302 802.314V1043.84C117.432 1054.94 100.814 1084.25 129.302 1112.74C138.075 1120.48 161.815 1131.32 186.587 1112.74C198.973 1102.16 216.313 1073.57 186.587 1043.84V924.625H123.883C87.4988 926.431 19.0664 946.455 36.4067 1012.1C48.5347 1030.94 65.5138 1075.27 36.4067 1101.9C7.29968 1128.53 2.08725 1174.92 3.11941 1194.79C7.76414 1227.05 33.6198 1291.56 99.8848 1291.56H153.299V3111.52"
                    stroke="#ffffff"
                    stroke-width="5"
                    />
                </svg>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Kapely",
                    tag: "h2",
                }} %}
                {% set bands = [
                    {
                        img: "bands/12_Marpo.jpeg",
                        alt: "Marpo & kapela TroubleGang",
                        title: "Marpo & kapela TroubleGang",
                        link: "/kapely/marpo.html",
                        description: "Marpo, vlastním jménem Otakar Petřina, se věnuje muzice už od dětství, kdy si koupil mikrofon a svoji tvorbu zaznamenával na magnetofon. Postupně nahrával svá alba s různými interprety, jako jsou například Gipsy, MC Wohnout nebo Hugo Toxxx. Založil kapelu TroubleGang a zároveň od roku 2008 bubnoval ve skupině Chinaski. Po personálním zemětřesení ",
                    },
                    {
                        img: "bands/10_MIchalHruza.jpg",
                        alt: "Michal Hrůza & kapela Hrůzy",
                        title: "Michal Hrůza & kapela Hrůzy",
                        link: "/kapely/michalhruza.html",
                        description: "Michal Hrůza je český zpěvák a zakládající člen skupiny Ready Kirken. Hudbě se začal věnovat na střední vojenské škole, kde byl členem školní hudební skupiny a kde hrál amatérské divadlo. Jeho skladba pro Anetu Langerovou Voda živá byla v letech 2005 a 2006 hitem roku",
                    },
                    {
                        img: "bands/04_Paulie Garand.jpeg",
                        alt: "Paulie Garand",
                        title: "Paulie Garand",
                        link: "/kapely/pauliegarand.html",
                        description: "Za tímto interpretem, který vystoupí v rámci pátečního programu festivalu Dozvuky léta 2023, stojí historie sahající až do roku 2006, kdy se po pár letech tvoření hudby do šuplíku poprvé zapsal do širšího povědomí demem Mozoly, které následovala éra s kapelou BPM",
                    },
                    {
                        img: "bands/01_Strasni banani.jpg",
                        alt: "Strašný Banáni",
                        title: "Strašný Banáni",
                        link: "/kapely/strasnybanani.html",
                        description: "Představujeme vám kapelu, která letos otevře náš festival. Banáni jsou opravdovým přírodním antidepresivem především co se týká podpory tvorby serotoninu, jsou mezi ovocem skutečnými favority. ",
                    },
                    {
                        img: "bands/11_TheAttics.jpg",
                        alt: "The Attics",
                        title: "The Attics",
                        link: "/kapely/theattics.html",
                        description: "Českotřebovská rocková kapela, mající též kořeny pevně zakotvené v nedalekém Rybníku, vystoupí na Dozvucích léta již po třetí. Z původní odpolední akustické session se kluci přesunou do nočních hodin, kde, již s kompletní elektrickou výbavou, vám zahrají jejich nové skladby, a také něco málo od rockových legend typu Red Hot Chilli Peppers, Foo fighters…",
                    },
                    {
                        img: "bands/02_INST60.jpg",
                        alt: "INST60",
                        title: "INST60",
                        link: "/kapely/inst60.html",
                        description: "Místní kapela INST60 se pohybuje někde mezi popem a rockem, soustředí se výhradně na vlastní tvorbu s texty v angličtině. Od roku 2018 hraje ve složení Bohi - klávesy a zpěv, Ivoš - baskytara, Majkl - bubny, Fána K. - kytara, Honza N. - kytara. Historie kapely sice sahá až do roku 2002",
                    },
                    {
                        img: "bands/03_Jamaron.jpg",
                        alt: "Jamaron",
                        title: "Jamaron",
                        link: "/kapely/jamaron.html",
                        description: "Tato česká rocková kapela v čele s charismatickou frontwoman Marií Dostálovou, jejíž výrazný hlas obklopený hutným zvukem elektrických kytar a nekompromisních bicích je dominantou této mladé pětice. Jamaron si zakládají na srozumitelných a smysluplných českých textech, se kterými se řada posluchačů snadno ztotožní",
                    },
                    {
                        img: "bands/05_Doga.jpg",
                        alt: "Doga",
                        title: "Doga",
                        link: "/kapely/doga.html",
                        description: "Při tvorbě programu Dozvuky léta 2023 jsme mysleli také na fanoušky tvrdé hudby. Doga to je energií nabušený nekompromisní 100% live rock’n’roll. Pódia válcuje kapela už 35 let, za která má na svém kontě již 11 desek, z toho dvě zlaté a jednu platinovou. Dokonce si střihla i klip v Americe. ",
                    },
                    {
                        img: "bands/06_375mnm.jpeg",
                        alt: "375 metrů nad mořem",
                        title: "375 metrů nad mořem",
                        link: "/kapely/375mnm.html",
                        description: "Poslední kapelou, která se představí v rámci prvního dne programu Dozvuků léta bude opět 375 metrů nad mořem. Jedná se o zábavovou, plesovou i svatební kapelu z České Třebové, ve složení Daniela Stránská, Natálie Burešová, Dominik Stránský, Tomáš Kupka a Jan Růžička. Kapela hraje covery i vlastní tvorbu.",
                    },
                    {
                        img: "bands/07_TheExcited.jpeg",
                        alt: "The Excited",
                        title: "The Excited",
                        link: "/kapely/theexcited.html",
                        description: "Kapela The Excited byla založena roku 2020 vysokomýtským zpěvákem a multiinstrumentalistou Adamem Čuříkem. Kapela hrající poprock s autorskými texty v českém jazyce měla svůj první koncert rok po založení, a to prostřednictvím livestreamu v místním MKlubu. ",
                    },
                    {
                        img: "bands/08_SafariExpres.jpeg",
                        alt: "Safari Expres",
                        title: "Safari Expres",
                        link: "/kapely/safariexpres.html",
                        description: "Původně brněnská kapela Skákající králíčci na přelomu roku dostala nový rytmický náboj třebovské krve a proměnila se tak doslova v brněnsko-třebovský fusion – nově však pod názvem Safari Express. Studentský léta jsou pryč, ale Safari Express zůstává věrný svým kořenům inspirovaným mňágovským rockem se ságem v zádech, který Vám tentokrát bude servírovat v nádražní baště republiky – České Třebové – na Dozvucích léta! ",
                    },
                    {
                        img: "bands/09_AjBrix_AstroBoy.jpeg",
                        alt: "AJ Brix & Astro Boy",
                        title: "AJ Brix & Astro Boy",
                        link: "/kapely/ajbrix&astroboy.html",
                        description: "AJ Brix je charismatický mladý rapper, reprezentující hlas mladé generace. Velmi dobře zapadl do české rapové komunity, a to nejen oblibou u fanoušků, ale i u ostatních umělců. Mezi dosud nejúspěšnější singly AJ Brixe patří No Limit, který překonal hranici čtyř milionů streamů na Spotify (ve spolupráci s rapperem Earth) a track Nějaká doba, který se stal velmi populární u tvůrců a fanoušků na sociální síti TikTok. ",
                    },
                    {
                        img: "bands/13_HusýKrk.jpg",
                        alt: "Husý krk",
                        title: "Husý krk",
                        link: "/kapely/husykrk.html",
                        description: "Mladá kapela, jejíž členové pochází z údolí potoku Husí krk, si už třetím rokem hraje vlastními slovy „co chce“. Za sebou mají tito tři borci již vystoupení na PunkOff ve vodáckém tábořišti Cakle, DosiFestu ve Sloupnici, Přívratském vinobraní,  Festivalu mladých kapel v Sobkovicích a Benátské noci v Bystřeci.",
                    },
                ]%}
                {% include "@components/box/carousel-band/carousel-band.twig" with { props: {
                    loop: true,
                    content: bands,
                }} %}
            </div>
        </section>
        <section class="section section--top section--bottom" id="listky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Neváhejte koupit lístek!",
                    tag: "h2",
                }} %}
                <div class="tickets">
                    <div class="tickets__title">
                        <h4 class="u-text-center">Aktuálně probíhá první vlna prodeje lístků. V rámci předprodeje můžete získat dvoudenní lístek za cenu denního vstupného. S nákupem tedy rozhodně nedoporučujeme otálet</h4>
                    </div>
                    <div class="tickets__button">
                        <a target="_blank" href="https://www.ticketportal.cz/event/DOZVUKY-LETA-2023?IDPartner=338#fullscreen-search" class="btn-glitch" role="button"><span class="btn-glitch__text">Koupit lístek</span></a>
                    </div>
                    <div class="grid">
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">1. Klikni na odkaz {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "ticket" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Klikni na odkaz výše a dostaň se na stránku ticketportal, kde můžeš koupit lístek na festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">2. Platba {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "pay" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Vyber si platbu a následně proveď úhradu. Část tvé vstupenky půjde na dobrou věc!</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">3. Doraž {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "party" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Už zbývá jenom dorazit. Budeme se těšit. Vše vypukne 1.9.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# SEKCE NOVINKY PROZATÍM SCHOVANÁ #}
        {# <section class="section section--top section--bottom" id="novinky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Novinky",
                    tag: "h2",
                }} %}
                {% set news = [
                    {
                        title: "Zahájení festivalu",
                        img: "carousel-news/news1.webp",
                        link: "/novinky/zahajeni.html",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Noví sponzoři",
                        img: "carousel-news/news2.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Spolupráce s redbullem",
                        img: "carousel-news/news3.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "375 m.n.m",
                        img: "carousel-news/news1.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                ]%}
                {% include "@components/box/carousel-news/carousel-news.twig" with { props: {
                    loop: true,
                    content: news,
                }} %}
            </div>
        </section> #}
        <section class="section section--bg section--bottom">
            <div class="container">
                <div class="text-block u-text-center">
                    <h2>Festival plný zážitků...</h2>
                    <h4>Mrkni na minulé ročníky!</h4>
                    <a target="_blank" href="/galerie.html" class="btn-glitch" role="button"><span class="btn-glitch__text">Galerie</span></a>
                </div>
            </div>
        </section>
        <section class="section section--top" id="informace">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Informace",
                    tag: "h2",
                }} %}
                <div class="information">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="information__location u-text-center">
                                <h4>Místo konání Festivalu:</h4>
                                <ul class="information__address">
                                    <li>Fotbalový stadion Česká Třebová</li>
                                    <li>Pod Jelenicí 597</li>
                                    <li>Česká Třebová</li>
                                </ul>
                                <p>Horní parkoviště pod Bike resortem Peklák <b>150</b> míst, spodní parkoviště v ulici Kubelkova <b>41</b> míst.</p>
                            </div>
                        </div>
                        <div class="grid__col">
                            <iframe style="border:none" src="https://frame.mapy.cz/s/camabezoho" width="100%" height="500" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# FAQ SEKCE SKRYTA #}
        {# <section class="section section--top section--bottom">
            <div class="container">
                {% set faqs =[
                    {
                        title: "Doprava a parkování",
                        content: "1Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Bezbariérovost",
                        content: "2Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Jídlo a pití",
                        content: "3Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                ]%}
                {% for item in faqs %}
                {% include "@components/box/faq/faq.twig" %}
                {% endfor %}
            </div>
        </section> #}
	</main> 

{% endblock %}
