{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta' %}
{% set description = 'Webové stránky festivalu Dozvuky léta v České Třebové pod Peklákem, obsahují veškeré informace pro návštěvníky. Na letošní ročník se můžete těšit na mnoho interpretů, jako například Paulie Garand, Marpo, Michal Hrůza a mnoho dalších. Určitě neváhejte a kupujte lístky na ticketportal.cz, dokud je ještě čas!' %}


{% block content %}

	<main role="main" id="main" class="main">
		{% include "@components/box/hero/hero.twig" with { props: {
            timeInterval: "8000",
            annot: "30.08.-31.08.2024  v České Třebové<br>na fotbalovém hřišti pod Peklákem",
            images: [
                {
                    img: "hero/hero1.jpg",
                    alt: "úvodní fotka dozvuků léta",
                },
                {
                    img: "hero/hero2.webp",
                    alt: "Hudebník Voxedl",
                },
                {
                    img: "hero/hero3.webp",
                    alt: "Tančící dav",
                },
                {
                    img: "hero/hero4.webp",
                    alt: "Kapela Waldagang",
                },
            ]
        }}%}
        <section class="section section-parallax">
            <div class="line-container js-parallax-container">
                <svg
                    class="line"
                    viewBox="0 0 206 2010"
                    fill="none"
                    preserveAspectRatio="xMidYMax meet"
                >
                    <path
                    d="M156.396 -7V704H141.687C133.946 704.774 118.464 710.503 118.464 727.224V737.287C110.723 735.997 99.8848 738.061 118.464 756.64V763.608C111.497 763.091 101.743 766.24 118.464 782.961V791.476C119.496 795.605 123.109 803.552 129.302 802.314V1043.84C117.432 1054.94 100.814 1084.25 129.302 1112.74C138.075 1120.48 161.815 1131.32 186.587 1112.74C198.973 1102.16 216.313 1073.57 186.587 1043.84V924.625H123.883C87.4988 926.431 19.0664 946.455 36.4067 1012.1C48.5347 1030.94 65.5138 1075.27 36.4067 1101.9C7.29968 1128.53 2.08725 1174.92 3.11941 1194.79C7.76414 1227.05 33.6198 1291.56 99.8848 1291.56H153.299V3111.52"
                    stroke="#ffffff"
                    stroke-width="5"
                    />
                </svg>
            </div>
        </section>
        <section class="section section--top section--bottom" id="listky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Neváhejte koupit lístek!",
                    tag: "h2",
                }} %}
                <div class="tickets">
                    <div class="tickets__title">
                        <h4 class="u-text-center">Aktuálně probíhá druhá vlna prodeje lístků. Neotálejte a kupte si lístek za výhodnou cenu!</h4>
                    </div>
                    <div class="tickets__button">
                        <a target="_blank" href="https://www.ticketportal.cz/event/DOZVUKY-LETA-2024?idp=1388053#modalVyberPocetMiest20" class="btn-glitch" role="button"><span class="btn-glitch__text">Koupit lístek</span></a>
                    </div>
                    <div class="grid">
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">1. Klikni na odkaz {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "ticket" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Klikni na odkaz výše a dostaň se na stránku ticketportal, kde můžeš koupit lístek na festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">2. Platba {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "pay" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Vyber si platbu a následně proveď úhradu. Část tvé vstupenky půjde na dobrou věc!</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col col-6-12@md col-4-12@lg">
                            <div class="tickets__steps">
                                <h4 class="tickets__step-title">3. Doraž {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "party" }} %}</h4>
                                <div class="tickets__step-content">
                                    <p>Už zbývá jenom dorazit. Budeme se těšit. Vše vypukne 30. 8. 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Na co se můžete těšit?",
                    tag: "h2",
                }} %}
                {% set bands = [
                    {
                        img: "bands/1-harlej.webp",
                        alt: "Harlej",
                        link: "/kapely/harlej",
                        description: "Harlej jsou česká rocková kapela, která vznikla na jaře roku 1995 v Praze. 
S hitovými písněmi a charismatickými živými vystoupeními si získali srdce fanoušků a věřím, že neexistuje člověk, co by neznal aspoň jednu z jejich písní. 
Harlej mají za sebou několik DVD, nespočet vydaných alb a posledním z nich je letošní album nesoucí název “Zatím je to dobrý”.  "
                    },
                    {
                        img: "bands/8-rytmus.webp",
                        alt: "Rytmus",
                        link: "/kapely/rytmus",
                        description: "Dalším a to největším interpretem Dozvuků léta je RYTMUS. 👑🔥 Rytmus, vlastním jménem Patrik Vrbovský, je slovenský rapper, zpěvák, herec, televizní osobnost a zakladatel skupiny Kontrafakt, který vystupuje také sám či ve spolupráci s jinými týmy nebo zpěváky. Víc o Rytmusovi asi nemusíme psát, není člověka, co by ho neznal."
                    },
                    {
                        img: "bands/2-nickhillson.webp",
                        alt: "Nick Hillson",
                        link: "/kapely/nickhillson",
                        description: "Nick Hillson je 26letý rapper a textař. Dlouhá léta se zkoušel prosadit sólově, ale v roce 2021 přišel zásadní zlom, kdy se díky dlouholetému kamarádovi Lukášovi Novotnému (DJ Orogo) spojil s nadaným muzikantem Petrem Kupkou (Bicí). Nyní již tato trojice 3 roky působí společně jako hiphopová crew, kde se Petr stal postupně hlavním hudebním producentem."
                    },
                    {
                        img: "bands/3-astroboy.webp",
                        alt: "Astroboy & AJ Brix",
                        link: "/kapely/ajbrix&astroboy",
                        description: "Astro Boy je mladý nadějný umělec zaměřující se na rap, Pop, DNB. Momentálně čítá jeho základna víc než 30.000 posluchačů měsíčně na platformě Spotify a dalších streamovacích službách. Charismatický mladý rapper Aj Brix svou hudební kariéru odstartoval v roce 2021. Mimo jiné působí na sociálních sítích; jenom na instagramovém účtu má početnou základnu čítající na 119 tisíc fanoušků.",
                    },
                    {
                        img: "bands/4-imodium.webp",
                        alt: "Imodium",
                        link: "/kapely/imodium",
                        description: "Imodium se po 5 letech vrací zpět na hudební scénu, před pár dny vydali nový singl “Lampy” a k němu i videoklip. Takže pro náš festival byli jasnou volbou ☝️ 
🔥A pro ty, co je ještě neznají: Imodium jsou čtyřčlenná rocková kapela, která příští rok oslaví 20let. Předskakovali dokonce i několika celosvětově známým kapelám jako Simple Plan, Muse a dalším.. Kapela má na svém kontě i několik hudebních ocenění ať už v kategorii Objev roku, Videoklip roku nebo Hudební film roku. Na kontě mají také 5 vydaných alb a 2 koncertní záznamy, v roce 2024 vydají novou desku. ",
                    },
                    {
                        img: "bands/5-375mnm.webp",
                        alt: "375 metrů nad mořem",
                        link: "/kapely/375mnm",
                        description: "Kapelu 375 m.n.m. už asi nemusím nijak detailně představovat, svým skvělým energickým koncertem zakončovala všechny tři ročníky Dozvuků a příští ročník tomu nebude jinak. 375 je banda pěti členů z České Třebové - Danča, Mártty, Natálie, Janek a Tomáš. Hrají covery známých písní, ale také vlastní tvorbu. 
Budeme se těšit! 🔥",
                    },
                    {
                        img: "bands/6-impolite.webp",
                        alt: "Impolite",
                        link: "/kapely/impolite",
                        description: "Kapela Impolite
Původní záměr našeho shledání bylo odehrát pár letních koncertů pod sólistkou barborou k, ale všechno do sebe zapadlo natolik, že jsme se rozhodli vytvořit úplně nový projekt. Po malém přeskupení a roce vymýšlení názvu jsme konečně oficiální. Žánr, který nás asi nejvíce vystihuje je ‘emocionální pop/rock’. Elektrické kytary doprovází pestré vokální harmonie, jindy zase akustická kytara, piano, či housle. ",
                    },
                    {
                        img: "bands/7-karolakvido.webp",
                        alt: "Karol a Kvído",
                        link: "/kapely/karolakvido",
                        description: "Karol a Kvído jsou dětská hudební dvojice, jejichž úkolem je děti bavit a přitom písničkou něco naučit. Více o této dvojici asi nemusím psát, všichni rodiče je znají a všechny děti si známé písničky od Karol a Kvída zpívají. 🎨♥️",
                    },
                    {
                        img: "bands/9-strasnybanani.webp",
                        alt: "Strašný banáni",
                        link: "/kapely/strasnybanani",
                        description: "Banáni jsou opravdovým přírodním antidepresivem. Co se týká podpory tvorby serotoninu, jsou mezi ovocem skutečnými favority. Jejich hudba baví, dává, rozesmívá a kope. Ale bacha - každý, kdo přišel na jejich koncert, už nikdy nebral život tak vážně!",
                    },
                    {
                        img: "bands/10-jimmyg.webp",
                        alt: "Jimmy-G",
                        link: "/kapely/jimmyg",     
                        description: "Jimmy-G je rapper a textař z Velkého Meziříčí, který se kolem hudby motá od raného dětství. Z vášnivého fanouška boom rapu a rapu obecně, se v roce 2016 vyklubal interpret s ostrým jazykem a smyslem pro humor i hloubku, které využívá ve své tvorbě.",
                    },
                    {
                        img: "bands/11-irit.webp",
                        alt: "Irit",
                        link: "/kapely/irit",
                        description: "Moje meno je Irit pochádzam z východného Slovenska spod Tatier a rapu sa venujem už pekných pár rokov. Za ten čas sa mi podarilo odohrať zopár väčších koncertov a mnoho lokálnych.",
                    },
                    {
                        img: "bands/12-peladores.webp",
                        alt: "Peladores",
                        link: "/kapely/peladores",
                        description: "Kapela Peladores je smíšená studentská kapela z třebovského gymnázia. Společně fungují od září roku 2022. Stali se tradiční součástí gymnaziálních akcí a v září například zahajovali šestý ročník litomyšlské Spacák párty. ",
                    },
                    {
                        img: "bands/13-guyg.webp",
                        alt: "Guy G",
                        link: "/kapely/guyg",       
                        description: "Guy G je rapující DJ, který se na scéně pohybuje od přelomu století. Tři sólový alba. Producent kombinující blues, jazz, country a Hip Hop a je to Třebovák",
                    },
                ]%}
                {% include "@components/box/carousel-band/carousel-band.twig" with { props: {
                    loop: true,
                    content: bands,
                }} %}
            </div>
        </section>
        {# SEKCE NOVINKY PROZATÍM SCHOVANÁ #}
        {# <section class="section section--top section--bottom" id="novinky">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Novinky",
                    tag: "h2",
                }} %}
                {% set news = [
                    {
                        title: "Zahájení festivalu",
                        img: "carousel-news/news1.webp",
                        link: "/novinky/zahajeni",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Noví sponzoři",
                        img: "carousel-news/news2.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "Spolupráce s redbullem",
                        img: "carousel-news/news3.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                    {
                        title: "375 m.n.m",
                        img: "carousel-news/news1.webp",
                        link: "#",
                        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, modi!"
                    },
                ]%}
                {% include "@components/box/carousel-news/carousel-news.twig" with { props: {
                    loop: true,
                    content: news,
                }} %}
            </div>
        </section> #}
        <section class="section section--bg section--bottom">
            <div class="container">
                <div class="text-block u-text-center">
                    <h2>Festival nabitý zážitky...</h2>
                    <h4>Mrkni na minulé ročníky!</h4>
                    <a target="_blank" href="/galerie" class="btn-glitch" role="button"><span class="btn-glitch__text">Galerie</span></a>
                </div>
            </div>
        </section>
        <section class="section section--top" id="informace">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Informace",
                    tag: "h2",
                }} %}
                <div class="information">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="information__location u-text-center">
                                <p>Festival se koná pod záštitou hejtmana Pardubického kraje Martina Netolického<br> a starosty České Třebové Zdeňka Řeháka</p>
                                <h4>Místo konání Festivalu:</h4>
                                <ul class="information__address">
                                    <li>Fotbalový stadion Česká Třebová</li>
                                    <li>Pod Jelenicí 597</li>
                                    <li>Česká Třebová</li>
                                </ul>
                                <p>Horní parkoviště pod Bike resortem Peklák <b>150</b> míst, spodní parkoviště v ulici Kubelkova <b>41</b> míst.</p>
                            </div>
                        </div>
                        <div class="grid__col">
                            <iframe title="mapa" style="border:none" src="https://frame.mapy.cz/s/camabezoho" width="100%" height="500" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# FAQ SEKCE SKRYTA #}
        {# <section class="section section--top section--bottom">
            <div class="container">
                {% set faqs =[
                    {
                        title: "Doprava a parkování",
                        content: "1Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Bezbariérovost",
                        content: "2Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                    {
                        title: "Jídlo a pití",
                        content: "3Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium laudantium ducimus autem. Quisquam, dolorem, itaque magnam non delectus aspernatur excepturi odit tenetur dicta doloribus omnis maiores veniam nisi repellendus!",
                    },
                ]%}
                {% for item in faqs %}
                {% include "@components/box/faq/faq.twig" %}
                {% endfor %}
            </div>
        </section> #}
	</main> 

{% endblock %}
