{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta' %}
{% set description = 'Domovská stránka festivalu dozvuky léta, konající se v České Třebové' %}


{% block content %}

	<main role="main" id="main" class="main">
		{% include "@components/box/hero/hero.twig" with { props: {
            timeInterval: "8000",
            images: [
                {
                    img: "hero/Waldagang1.jpg",
                    alt: "úvodní fotka dozvuků léta",
                },
                {
                    img: "hero/publikum.jpg",
                    alt: "publikum",
                }
            ]
        }}%}
        <section class="section section--top section--bottom">
            <div class="container">
                {% include "@components/core/title/title.twig" with { props: {
                    title: "Kapely",
                    tag: "h2",
                }} %}
                <p class="u-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium qui laborum aliquam tempora accusamus labore pariatur nesciunt atque quam praesentium assumenda, ducimus optio rerum distinctio, ratione neque, voluptatem amet necessitatibus! Aspernatur illo, quae assumenda voluptatem numquam temporibus, ex sit quod voluptate dolore iste repudiandae est! Minima, deserunt quod! Architecto, explicabo! Molestias, consequuntur quae iure saepe molestiae odit? Itaque, enim sint! Corrupti, voluptatum veritatis. Quis ipsam reprehenderit nam repudiandae quae consequuntur, aperiam, explicabo deserunt vel, tempora impedit porro aliquid! Ut, amet mollitia libero accusantium voluptas fuga quia aliquid et numquam laborum voluptate ratione provident, ab iure voluptatibus dolor sit iste doloribus.</p>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                <p class="u-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium qui laborum aliquam tempora accusamus labore pariatur nesciunt atque quam praesentium assumenda, ducimus optio rerum distinctio, ratione neque, voluptatem amet necessitatibus! Aspernatur illo, quae assumenda voluptatem numquam temporibus, ex sit quod voluptate dolore iste repudiandae est! Minima, deserunt quod! Architecto, explicabo! Molestias, consequuntur quae iure saepe molestiae odit? Itaque, enim sint! Corrupti, voluptatum veritatis. Quis ipsam reprehenderit nam repudiandae quae consequuntur, aperiam, explicabo deserunt vel, tempora impedit porro aliquid! Ut, amet mollitia libero accusantium voluptas fuga quia aliquid et numquam laborum voluptate ratione provident, ab iure voluptatibus dolor sit iste doloribus.</p>
            </div>
        </section>
        <section class="section section--top section--bottom" id="tickets">
            <div class="container">
                <p class="u-text-center">Lístky</p>
            </div>
        </section>
	</main> 

{% endblock %}
