{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Kapely' %}
{% set description = 'V sekci kapely webových stránek dozvuků léta naleznete informace o kapelách, účinkujících na následujícím ročníku festivalu' %}

{% set crossroads = [
    {
        img: "crossroad-bands/band2.webp",
        alt: "fotografie kapely 375 m.n.m",
        title: "375 m.n.m",
        link: "/kapely/375nm.html",
    },
    {
        img: "crossroad-bands/band1.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "Sum 41",
        link: "#",
    },
    {
        img: "crossroad-bands/band1.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "Arctic Monkeys",
        link: "#",
    },
    {
        img: "crossroad-bands/band1.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "The Offspring",
        link: "#",
    },
    {
        img: "crossroad-bands/band1.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "Green Day",
        link: "#",
    },
    {
        img: "crossroad-bands/band1.webp",
        alt: "fotografie z festivalu, ročníku 2022",
        title: "Blink 182",
        link: "#",
    },
]%}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="link-back">
                <a href="/" class="link-back__link">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "back" }} %} Zpět</a>
            </div>
        </div>
    </section>
    <section class="section section--bottom">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Kapely",
                tag: "h2",
            }} %}
            <div class="grid grid--center">
            	{% for item in crossroads %}
                <div class="grid__col col-6-12@sm">
                    {% include "@components/box/crossroad/crossroad.twig" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
