<div class="main-image">
    <div class="main-image__img">
        {% include "@components/core/image/image.twig" with { item: {
            img: props.img,
            alt: props.alt,
        }} %} 
    </div>
    <div class="main-image__content">
        <h1 class="main-image__title">{{ props.title }}</h1>
    </div>
</div>