.footer {
    position: relative;
    //background: url($imgPath + '/illust/patterns/black-pattern.jpg');
    background-color: $colorBlack;
    background-size: cover;
    padding: 40px 0;
    &__wrap {
        color: $colorWhite;
        margin-bottom: 0;
        ul {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 0;
        }
    }
    &__logo {
        & img {
            max-width: 160px;
        }
    }
    &__socials {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    }
    &__social-link {
        @extend %reset-anchor;
        border: 2px solid transparent;
        border-radius: 50%;
        padding: 10px;
        & .icon-svg {
            color: $colorWhite;
            width: 30px;
            transition: all 0.3s;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__owner {
        display: flex;
        gap: 20px;
    }
    &__social-wrap {
        display: flex;
        flex-direction: column;
    }
    &__created {
        color: $colorBlack40;
        ul {
            display: flex;
            justify-content: center;
        }
    }
    .hoverevents &__social-link:hover {
        border-color: $colorWhite;
        background-color: $colorWhite;
        & .icon-svg {
            color: $colorSecondary;
            transition: .3s;
        }
    }
    @media ($mdUp) {
        padding: 80px 0;
    }
}