<a {% if item.blank %}target="_blank"{% endif %} href="{{ item.link }}" class="crossroad">
    <div class="crossroad__img">
        {% include "@components/core/image/image.twig" with { item: {
            img: item.img,
            alt: item.alt
        }} %} 
    </div>
    <div class="crossroad__content">
        <h4 class="crossroad__title">{{ item.title }}{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "back" }} %}</h4>
    </div>
</a>