.section {
	position: relative;
	&--top {
		padding-top: 60px;
	}
	&--top-lg {
		padding-top: 120px;
	}
	&--bottom {
		margin-bottom: 60px;
	}
	&--bg {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),
    url($imgPath + '/illust/bg/publikum.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	margin-top: 120px;
	padding-bottom: 60px;
	z-index: 1;
	}
	@media ($xlUp) {
		&--top {
			padding-top: 80px;
		}
		&--top-lg {
			padding-top: 160px;
		}
		&--bottom {
			margin-bottom: 80px;
		}
		&--bg {
			margin-top: 160px;
			padding-bottom: 80px;
		}
	}
}
