{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Galerie 2022' %}
{% set description = 'V galerii stránky dozvuků léta naleznete fotografie z předešlých ročníků festivalu.' %}

{% set gallery =[
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie1.webp",
        link: "gallery/galerie1.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie2.webp",
        link: "gallery/galerie2.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie3.webp",
        link: "gallery/galerie3.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie4.webp",
        link: "gallery/galerie4.webp",
        alt: "Popis1",
    },
    {
        img: "gallery/galerie5.webp",
        link: "gallery/galerie5.webp",
        alt: "Popis1",
    },


]%}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="link-back">
                <a href="/Galerie.html" class="link-back__link">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "back" }} %} Zpět</a>
                <a href="/" class="link-back__link">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "home" }} %} Domů</a>
            </div>
        </div>
    </section>
    <section class="section section--top section--bottom">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Galerie 2021",
                tag: "h2",
            }} %}
            <div class="grid grid--center">
                {% for item in gallery %}
                <div class="grid__col col-6-12@sm col-4-12@md col-3-12@lg">
                    {% include "@components/box/gallery-item/gallery-item.twig" with {props: {
                        galleryName: "firstGallery"
                    }} %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
