<div class="carousel-band js-embla" {% if props.loop %}data-carousel-loop="true"{% endif %}{% if props.carouselInterval %}data-carousel-interval="4000"{% endif %}>
    <div class="embla__viewport">
        <div class="carousel-band__container">
            {% for item in props.content %}
            <a href="{{ item.link }}" class="carousel-band__item">
                    <div class="carousel-band__img">
                        {% include "@components/core/image/image.twig" with { item: {
                            img: item.img,
                            lazyload: true,
                        }} %}
                    </div>
                    <div class="carousel-band__content">
                        <h4 class="carousel-band__title">{{ item.title }}</h4>
                        <div class="carousel-band__more">
                            <p class="carousel-band__description">{{ item.description }}</p>
                            <span class="carousel-band__show-more">Zobrazit více {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "back" }} %}</span>
                        </div>
                    </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="carousel-band__controls">
        <div class="embla__button embla__button--prev">
            <button class="embla__button-inner">
                {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "arrow" }} %}
            </button>
        </div>
        <div class="embla__button embla__button--next">
            <button class="embla__button-inner">
                {% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "arrow" }} %}
            </button>
        </div>
    </div>
    <div class="embla__dots"></div>
    <div id="embla-dot-template">
      <button class="embla__dot" type="button"></button>
    </div>
</div>