{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - AJ Brix &Astro Boy' %}
{% set description = 'Na festivalu Dozvuky léta v České Třebové pod Peklákem dorazí i AJ Brix &Astro Boy. AJ Brix je charismatický mladý rapper, reprezentující hlas mladé generace. Velmi dobře zapadl do české rapové komunity, a to nejen oblibou u fanoušků, ale i u ostatních umělců.' %}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            {% include "@components/box/breadcrumbs/breadcrumbs.twig" with { props: {
                items: [
                    {
                        link: "kapely",
                        url: "/kapely",
                    },
                    {
                        link: "AJ Brix &Astro Boy",
                    }
                ]
            }} %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include "@components/box/main-image/main-image.twig" with { props: {
                img: "bands/3-astroboy.webp",
                alt: "Astroboy & AJ Brix",
                title: "Astroboy & AJ Brix",
            }} %}
        </div>
    </section>
    <section class="section section--top">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "AJ Brix &Astro Boy",
                tag: "h2",
            }} %}
        </div>
    </section>
    <section class="section section--bottom">
        <div class="container">
            <div class="blog">
                <div class="blog__text">
                    <h4>Astroboy</h4>
                    <p>Astro Boy je mladý nadějný umělec zaměřující se na rap, Pop, DNB. Momentálně čítá jeho základna víc než 30.000 posluchačů měsíčně na platformě Spotify a dalších streamovacích službách. Na začátku letošního roku dostal příležitost vystoupit živě v Pražské Lucerně, po boku zpěvačky Pam Rabbit. Jeho singly se pravidelně umisťují v kvalitních playlistech, například jeden z jeho novějších singlů GUEST se dostal do playlistu Generace rap který je považován za nejlepší playlist zaměřující se na CZ/SK rapovou scénu. Jeho texty baví širokou veřejnost a stejně tak se do srdce dostanou i jeho návykové beaty.</p>
                    <h4>AJ Brix</h4>
                    <p>Charismatický mladý rapper Aj Brix svou hudební kariéru odstartoval v roce 2021. Mimo jiné působí na sociálních sítích; jenom na instagramovém účtu má početnou základnu čítající na 119 tisíc fanoušků. Mezi jeho nejúspěšnější tracky patří No Limit, který překonal hranici pět miliónů streamů na Spotify, a Nějaká doba, trendující především na online platformě TikTok. Významný počet views zaznamenal rapper u posledních singlů Tracey a Nebavíme, které se po releasu umístily v Top 50 na Spotify a Top 10 hudebních trendů na YouTube. V debutovém albu Nemůžu tě držet za ruku z května 2023 AJ Brix zachycuje pocity, které prožíval během náročné životní etapy. Ve své první studiovce zpívá především o lásce, zradě, selhání, rozchodech, uvědomění i návratech. S jeho texty se ztotožní nejen publikum spadající do kategorie Generace Z, což dokazují pozitivní ohlasy široké veřejnosti.</p>
                </div>
                <div class="blog__social">
                    <span>Sociální sítě:</span>
                    <span>Astroboy</span>
                    <a target="_blank" href="https://www.instagram.com/boyastro_here/" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "instagram" }} %}</a>
                    <span>AJ Brix</span>
                    <a target="_blank" href="https://www.instagram.com/a.bately/" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "instagram" }} %}</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
