{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - INST60' %}
{% set description = 'Na festivalu dozvuky léta v České Třebové pod Peklákem, bude letos účinkovat kapela INST60' %}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            {% include "@components/box/breadcrumbs/breadcrumbs.twig" with { props: {
                items: [
                    {
                        link: "kapely",
                        url: "/kapely",
                    },
                    {
                        link: "INST60",
                    }
                ]
            }} %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include "@components/box/main-image/main-image.twig" with { props: {
                img: "bands/02_INST60.jpg",
                alt: "INST60",
                title: "INST60",
            }} %}
        </div>
    </section>
    <section class="section section--top">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "INST60",
                tag: "h2",
            }} %}
        </div>
    </section>
    <section class="section section--bottom">
        <div class="container">
            <div class="blog">
                <div class="blog__text">
                    <h4>Úvod o kapele</h4>
                    <p>Místní kapela INST60 se pohybuje někde mezi popem a rockem, soustředí se výhradně na vlastní tvorbu s texty v angličtině. Od roku 2018 hraje ve složení Bohi - klávesy a zpěv, Ivoš - baskytara, Majkl - bubny, Fána K. - kytara, Honza N. - kytara. Historie kapely sice sahá až do roku 2002, ale ze zakládajících členů však zůstal pouze Bohi. Poprvé se kapela na Dozvucích léta představila již při prvním ročníku, takže všichni moc dobře víme, že se je na co těšit.</p>
                    <p>Čas vystoupení: Pátek 1.9. od 17:30</p>
                </div>
                <div class="blog__social">
                    <span>Sociální sítě:</span>
                    <a target="_blank" href="https://www.facebook.com/INST60 " class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "fb" }} %}</ab>
                    <a target="_blank" href="https://youtu.be/mfkZhcwgC2A " class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "yt" }} %}</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
