{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Marpo & TroubleGang' %}
{% set description = 'Na festivalu dozvuky léta v České Třebové pod Peklákem, bude letos účinkovat kapela Marpo & TroubleGang' %}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            {% include "@components/box/breadcrumbs/breadcrumbs.twig" with { props: {
                items: [
                    {
                        link: "kapely",
                        url: "/kapely.html",
                    },
                    {
                        link: "Marpo & TroubleGang",
                    }
                ]
            }} %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include "@components/box/main-image/main-image.twig" with { props: {
                img: "bands/12_Marpo.jpeg",
                alt: "Marpo & TroubleGang",
                title: "Marpo & TroubleGang",
            }} %}
        </div>
    </section>
    <section class="section section--top">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Marpo & TroubleGang",
                tag: "h2",
            }} %}
        </div>
    </section>
    <section class="section section--bottom">
        <div class="container">
            <div class="blog">
                <div class="blog__text">
                    <h4>Úvod o kapele</h4>
                    <p>Marpo, vlastním jménem Otakar Petřina, se věnuje muzice už od dětství, kdy si koupil mikrofon a svoji tvorbu zaznamenával na magnetofon. Postupně nahrával svá alba s různými interprety, jako jsou například Gipsy, MC Wohnout nebo Hugo Toxxx. Založil kapelu TroubleGang a zároveň od roku 2008 bubnoval ve skupině Chinaski. Po personálním zemětřesení v listopadu 2017 Chinaski opustil a naplno se věnoval vystupování s TroubleGangem. V roce 2018 vystupoval jako první český rapper v O2 aréně, kde mu aplaudovalo 12 tisíc fanoušků.</p>
                    <p>Čas vystoupení: Sobota 2. 9. od 23:00</p>
                </div>
                <div class="blog__social">
                    <span>Sociální sítě:</span>
                    <a target="_blank" href="https://www.facebook.com/mcmarpo" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "fb" }} %}</ab>
                    <a target="_blank" href="https://www.instagram.com/mcmarpo/" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "instagram" }} %}</a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=onFpTqoUGB0" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "yt" }} %}</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
