{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Nick Hillson' %}
{% set description = 'Nick Hillson' %}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section section--top section--bottom">
        <div class="container"><h1>Informace o kapele Nick Hillson pro vás připravujeme</h1></div>
    </section>
</main>

{% endblock %}
