{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Dozvuky léta - Paulie Garand' %}
{% set description = 'Na festivalu dozvuky léta v České Třebové pod Peklákem, bude letos účinkovat kapela Paulie Garand' %}

{% block content %}

<main role="main" id="main" class="main">
    <section class="section">
        <div class="container">
            {% include "@components/box/breadcrumbs/breadcrumbs.twig" with { props: {
                items: [
                    {
                        link: "kapely",
                        url: "/kapely",
                    },
                    {
                        link: "Paulie Garand",
                    }
                ]
            }} %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include "@components/box/main-image/main-image.twig" with { props: {
                img: "bands/04_Paulie Garand.jpeg",
                alt: "Paulie Garand",
                title: "Paulie Garand",
            }} %}
        </div>
    </section>
    <section class="section section--top">
        <div class="container">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Paulie Garand",
                tag: "h2",
            }} %}
        </div>
    </section>
    <section class="section section--bottom">
        <div class="container">
            <div class="blog">
                <div class="blog__text">
                    <h4>Úvod o kapele</h4>
                    <p>Za tímto interpretem, který vystoupí v rámci pátečního programu festivalu Dozvuky léta 2023, stojí historie sahající až do roku 2006, kdy se po pár letech tvoření hudby do šuplíku poprvé zapsal do širšího povědomí demem Mozoly, které následovala éra s kapelou BPM. S tou vydal desky Slova a Horizonty . Poslední jmenovaná navíc získala cenu Akademie populární hudby v kategorii Hip-Hop a RnB. Po komerčním úspěchu obou alb se členové BPM rozhodli fungovat sólo. Doposud Paulie vydal 9 sólových alb. Všechny desky se vyznačují Paulieho osobitým stylem kombinující různorodou mozaiku nálad a atmosfér. Od vážných skladeb, přes kritiku až po odlehčená témata. Mezi jeho nejznámější skladby patří například Návraty, La Familia, Boomerang, Starkids, Kolem stolu, Pavučina lží, Reason, Play, Runway, Harantstrasse, Forma a další. Paulie je specifický svým projevem a stylem ukotveném v lyrickém indie rapu, který je protkaný až nečekaně upřímnými zpověďmi, niternými tématy, vděčností i ryzí láskou k hudbě. </p>
                    <p>Čas vystoupení: Pátek 1. 9. od 20:30</p>
                </div>
                <div class="blog__social">
                    <span>Sociální sítě:</span>
                    <a target="_blank" href="https://www.facebook.com/pauliegarandofficial" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "fb" }} %}</ab>
                    <a target="_blank" href="https://www.instagram.com/pauliegarand/" class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "instagram" }} %}</a>
                    <a target="_blank" href="https://youtu.be/sSAfOY1EYU4 " class="blog__social-item">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "yt" }} %}</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
