<div class="faq js-accordion-item">
    <div class="faq__btn js-accordion-btn">
        <h4>{{ item.title }}</h4>
    </div>
    <div class="faq__content js-accordion-content">
        <div class="faq__body js-accordion-body">
            {{ item.content }}
        </div>
    </div>
</div>