<div class="contact">
    <div class="contact__img">
        {% include "@components/core/image/image.twig" with { item: {
            img: props.img,
            lazyload: true,
        }} %}
    </div>
    <div class="contact__item">
        <h4 class="contact__title">{{ props.title }}</h4>
        <ul class="contact__list">
            {% for item in props.contacts %}
            <li>{{ item.text }}<a href="tel:+420 123 456 789">{{ item.value }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>