  {# <div class="program">
<table class="table-responsive js-table">
   <thead>
      <tr>
         <th>
            Čas vystoupení
         </th>
         <th>
            15:00
         </th>
         <th>
            16:00
         </th>
         <th>
            17:00
         </th>
         <th>
             18:00
         </th>
         <th>
            19:00
         </th>
         <th>
            20:00
         </th>
         <th>
            21:00
         </th>
         <th>
            22:00
         </th>
         <th>
            23:00
         </th>
         <th>
            00:00
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class="">
         <td class="js-table-control" data-heading="Čas vystoupení">
            <span class="table-responsive__item-text">01. 09. (pátek)</span>
         </td>
         <td data-heading="15:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item-text"></span>
            </div>
         </td>
         <td data-heading="16:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item-text table-responsive__item-text">Strašný banáni</span>
            </div>
         </td>
         <td data-heading="17:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item-text">INST60</span>
            </div>
         </td>
         <td data-heading="18:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item"></span>
            </div>
         </td>
         <td data-heading="19:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
         <td data-heading="20:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
         <td data-heading="21:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
         <td data-heading="22:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
         <td data-heading="23:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
         <td data-heading="00:00">
            <div class="table-responsive__item-wrap">
                <span class="table-responsive__item">
                    Jamaron
                </span>
            </div>
         </td>
      </tr>
      <tr>
         <td class="js-table-control" data-heading="Motor">
            <span class="table-responsive__item-text">02. 09 (sobota)</span>
         </td>
         <td data-heading="Derivát">
            <span class="table-responsive__item-text">AMBITION, STYLE</span>
         </td>
         <td data-heading="Palivo">
            <span class="table-responsive__item-text">Benzín</span>
         </td>
         <td data-heading="Převodovka">
            <span class="table-responsive__item-text">5-stup. mech.</span>
         </td>
         <td data-heading="Spotřeba od">
            <span class="table-responsive__item">
               5.0 <small>l/100 km</small>
            </span>
         </td>
         <td data-heading="Emise CO₂ od">
            <span class="table-responsive__item">
               114 <small>g/km</small>
            </span>
         </td>
      </tr>
   </tbody>
</table>
  </div> #}