<footer class="footer">
    <div class="container">
        <div class="footer__contacts" id="kontakty">
            {% include "@components/core/title/title.twig" with { props: {
                title: "Kontakty",
                tag: "h3",
            }} %}
            <div class="grid grid--center">
                <div class="grid__col col-4-12@md">
                    <div class="footer__contact">
                        <h4>Management:</h4>
                        <ul>
                            <li>Tomáš Kupka</li>
                            <li>tel: <a href="tel:+420732583521">+420 732 583 521</a></li>
                            <li>mail: <a href="mailto:odnasprovas.zs@gmail.com">tomas.kupka@dozvukyleta.cz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__col col-4-12@md">
                    <div class="footer__contact">
                        <h4>Booking kapel:</h4>
                        <span>Jan Růžička:</span>
                        <ul>
                            <li>tel: <a href="tel:+420606065201">+420 606 065 201</a></li>
                            <li>mail: <a href="mailto:jan.ruzicka@dozvukyleta.cz">jan.ruzicka@dozvukyleta.cz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__col col-4-12@md">
                    <div class="footer__contact">
                        <h4>Stánkový prodej a brigádníci:</h4>
                        <span>Natálie Foldynová:</span>
                        <ul>
                            <li>tel: <a href="tel:+420 734 585 744">+420 734 585 744</a></li>
                            <li>mail: <a href="mailto:natalie.foldynova@dozvukyleta.cz">natalie.foldynova@dozvukyleta.cz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__col col-4-12@md">
                    <div class="footer__contact">
                        <h4>Doprovodný program:</h4>
                        <span>Daniela Stránská:</span>
                        <ul>
                            <li>tel: <a href="tel:+420 603 435 773">+420 603 435 773</a></li>
                            <li>mail: <a href="mailto:daniela.stranska@dozvukyleta.cz">daniela.stranska@dozvukyleta.cz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__col col-4-12@md">
                    <div class="footer__contact">
                        <h4>Koordinátor sponzorských vztahů: </h4>
                        <span>Kateřina Vašátková:</span>
                        <ul>
                            <li>tel: <a href="tel:+420 731 937 199">+420 731 937 199</a></li>
                            <li>mail: <a href="mailto:katerina.vasatkova@dozvukyleta.cz">katerina.vasatkova@dozvukyleta.cz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <div class="grid">
                <div class="grid__col col-4-12@md">
                    <div class="footer__logo footer__logo--left">
                        {% include "@components/core/image/image.twig" with { item: {
                            img: "logo-test.png"
                        }} %}
                    </div>
                </div>
                <div class="grid__col col-4-12@md">
                    <h4 class="u-text-center">Sledujte nás na sociálních sítích:</h4>
                    <div class="footer__socials">
                        <a target="_blank" href="https://www.facebook.com/events/268257195760378/ " class="footer__social-link">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "fb" }} %}</a>
                        <a target="_blank" href="https://www.instagram.com/dozvuky_leta/" class="footer__social-link">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "instagram" }} %}</a>
                    </div>
                    {# <h4 class="u-text-center">Kupujte lístky:</h4>
                    <div class="footer__socials">
                        <a target="_blank" href="https://www.ticketportal.cz/event/DOZVUKY-LETA-2023?IDPartner=338#fullscreen-search" class="footer__social-link footer__social-link--ticket">{% include "@components/core/icon-svg/icon-svg.twig" with {props: { name: "ticket" }} %}</a>
                    </div> #}
                </div>
                <div class="grid__col col-4-12@md">
                    <div class="footer__logo">
                        {% include "@components/core/image/image.twig" with { item: {
                            img: "provasodnas-01.png"
                        }} %}
                    </div>
                </div>
            </div>

        </div>
        {% include "@components/core/title/title.twig" with { props: {
            title: "Partneři",
            tag: "h3",
        }} %}
        <div class="footer__sponsors">
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/LOGO_CeskaTrebova-01.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/LOGO_PardubickyKraj-01.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/cargo.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/ekobi.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/hoki.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/ldm.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/orlicko.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/rybnik.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/sazava.png"
                    }} %}
                </div>
            </div>
            <div class="footer__sponsor-item">
                <div class="footer__sponsor-image">
                    {% include "@components/core/image/image.twig" with { item: {
                        img: "sponsors/starmon.png"
                    }} %}
                </div>
            </div>
        </div>
        {# <div class="footer__copyright">&#169 Petr Foldyna, 2023. IČO: 467 798 632, mail: petr.foldyna12@gmail.com tel: +420 606 767 826</div> #}
        <div class="footer__copyright">&#169 Pro Vás od Nás 2023, Web vytvořil: Petr Foldyna, IČO: 467 798 632, E-mail: petr.foldyna12@gmail.com</div>
    </div>
</footer>